NODE_ENV=development
PORT=3030
DEFAULT_AVATAR_URL=http://localhost:3000/images/

DATABASE_URL="postgresql://root:root@postgres:5432/jogo_ibuc?schema=public"

JWT_SECRET_KEY=SOME-JWT-SECRET-KEY
JWT_EXPIRES_IN=1d

GOOGLE_CLIENT_ID=YOUR-GOOGLE-CLIENT-ID
GOOGLE_CLIENT_SECRET=YOUR-GOOGLE-CLIENT-SECRET
GOOGLE_REDIRECT_URI=http://localhost:3030/auth/google/redirect


MICROSOFT_CLIENT_ID=YOUR-MICROSOFT-CLIENT-ID
MICROSOFT_CLIENT_SECRET=YOUR-MICROSOFT-CLINT-SECRET
MICROSOFT_REDIRECT_URI=http://localhost:3030/auth/microsoft/redirect

FACEBOOK_APP_ID=YOUR-META-APP-ID
FACEBOOK_APP_SECRET=YOUR-META-APP-SECRET
FACEBOOK_REDIRECT_URI=http://localhost:3030/auth/facebook/redirect
